<mat-toolbar color="primary">
    <span style="font-size: xx-large; font-weight: bolder;">Crow</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"> -->
        <h4 style="margin: auto; margin-right: 1%;">Musoni Roger</h4>
        <ngx-avatars [size]="35" src="https://loremflickr.com/100/100" (click)="show()"></ngx-avatars>
    <!-- </button> -->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" [backgroundColor]="'primary'">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">home</mat-icon>
            Home
        </ng-template>
        <router-outlet></router-outlet>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">person_search</mat-icon>
            Explore
        </ng-template>
        <app-explore></app-explore>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">groups</mat-icon>
            Friends
        </ng-template>

        Content 3
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">forum</mat-icon>
            Chat
        </ng-template>

        Content 3
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">call</mat-icon>
            Call
        </ng-template>

        Content 3
    </mat-tab>
</mat-tab-group>


<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/dating/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
    <button mat-menu-item routerLink="/dating/profile" >
      <mat-icon>edit</mat-icon>
      <span>Update Profile</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>visibility_off</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-menu-item (click)="delete()">
      <mat-icon>delete_permanently</mat-icon>
      <span>Delete Profile</span>
    </button>
</mat-menu>